*{
	margin: 0;
	padding: 0;
}

html, body, #app{ height: 100%; margin: 0; padding: 0;}


.layout-base{
    border: 1px solid #d7dde4;
    position: relative;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
}
.layout-base > .ivu-layout {
	height: 100%;
	width: 100%;
}

.layout-header{
	background: white;
	min-height: 60px;
	line-height: 60px;
}

.layout-footer{
	border-top: solid 1px #dcdee2;
	border-radius: 2px;
	max-height: 16px;
	line-height:16px;
	word-spacing: 0.3em;
	color: #b1b2b3;
}
.layout-content{
	background: white;
	height: 93vh;
	overflow-y: auto;
}
.layout-view{
	min-height: 91vh;
}
	
.layout-sider{
	text-align: left;
	background: #dcdee2;
    min-height: 30px;
    line-height: 30px;
}

/* .ivu-menu-vertical.ivu-menu-light:after {
	background:white;
} */

.ivu-menu-light {
    background: #dcdee2;
}

::-webkit-scrollbar {
  width: 2px;  
}

::-webkit-scrollbar-thumb {
  background-color: rgba(249, 117, 9, 1.0);
}