/* template {
	display: block;
}
.content1{
	display: flex;
	justify-content: space-between;
}
.form{
	width: 500px;
	flex-shrink:0;
	background-color: #FAFAFA;
}
.res{
	flex-shrink:0;
	background-color: #F6F6F6;
} */
span {
    color: green;
	white-space: pre-wrap;
}